.app-title {
  font-family: "Avenir Next", "Roboto", "Oxygen";
  color: var(--title-color);
  font-size: 40px;
}

.app-container {
  display: grid;
  margin-left: auto;
  margin-right: auto;
  /* grid-gap: 10px; */
  grid-template-columns: repeat(2, 1fr);

  grid-auto-rows: minmax(100px, auto);
  max-width: 1200px;
}

.app-hr {
  border-bottom: 1px solid #D8D8D8;
  opacity: 0.8;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
