:root {
  --bg-color-primary: hsl(216, 19%, 95%);
  --bg-blue1: hsl(199, 46%, 84%);
  --bg-blue2: hsl(199, 50%, 91%);
  --title-color-primary: hsl(212, 38%, 22%);
  --title-color-secondary: hsl(201, 99%, 36%);
  --text-color-primary: hsl(212, 38%, 22%);
  --text-color-secondary: hsl(0, 0%, 49%);
  --highlights: #D8D8D8;
}

html, body {
  margin: 0;
  padding: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  /* background: var(--bg-color-primary); */
  background:
  linear-gradient(118deg,
    var(--bg-color-primary) 50%,
    var(--bg-blue1) 50%,
    var(--bg-blue2) 100%
  );
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

p {
  font-size: 18px;
}

input[type='number'] {
  -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
